<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>profile</title>
</head>
<body>
	<div>
		ModleAndView: <span th:text="${user.username}+',welcome!'"></span> <span
			th:text="${message}">静态消息</span>

		<table th:remove="all-but-first">
			<!-- 将后台传出的 productList 的集合进行迭代，用product参数接收，通过product访问属性值 -->
			<tr th:each="product:${productList}">
				<!-- 用count进行统计，有顺序的显示 -->
				<td th:text="${productStat.count}">1</td>
				<td th:text="${product.description}">Red Chair</td>
				<td th:text="${'$' + #numbers.formatDecimal(product.price, 1, 2)}">$123</td>
				<td th:text="${#dates.format(product.availableFrom, 'yyyy-MM-dd')}">2014-12-01</td>
			</tr>
			<tr>
				<td>White table</td>
				<td>$200</td>
				<td>15-Jul-2013</td>
			</tr>
			<tr>
				<td>Reb table</td>
				<td>$200</td>
				<td>15-Jul-2013</td>
			</tr>
			<tr>
				<td>Blue table</td>
				<td>$200</td>
				<td>15-Jul-2013</td>
			</tr>
		</table>

		json:
		
		<table></table>
		
		<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script
			src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
		<script th:inline="javascript">
			$(function() {
				$.ajax({
					url : "/profile/ajax",
					type : "get",
					dataType : "json",
					success : function(data) {
						 $.each(data,function(idx,item){    
							   //输出
							   alert(item.description+" 价格"+item.price);
							})
					}
				});
			});
		</script>
	</div>
</body>
</html>